<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    <title>Sartorial Paris</title>
    {{ 'app.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'app.js' | asset_url }}" defer></script>
</head>
<body>
    <header>
        {{ section 'header-group.json' }}
    </header>
    <main>
        {{ content_for_layout }}
    </main>
</body>
</html>